In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/store-sales-time-series-forecasting/oil.csv
/kaggle/input/store-sales-time-series-forecasting/sample_submission.csv
/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv
/kaggle/input/store-sales-time-series-forecasting/stores.csv
/kaggle/input/store-sales-time-series-forecasting/train.csv
/kaggle/input/store-sales-time-series-forecasting/test.csv
/kaggle/input/store-sales-time-series-forecasting/transactions.csv

In [2]:
train = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/train.csv')
stores = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/stores.csv')
oil = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/oil.csv')
holidays = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/holidays_events.csv')
transactions = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/transactions.csv')

In [3]:
train['date'] = pd.to_datetime(train['date'])
oil['date'] = pd.to_datetime(oil['date'])
holidays['date'] = pd.to_datetime(holidays['date'])
transactions['date'] = pd.to_datetime(transactions['date'])

In [4]:
join1 = pd.merge(train, holidays, on='date', how='left')

In [5]:
join2 = pd.merge(join1, oil, on='date', how='left')
join2.head(2)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,date,store_nbr,family,sales,onpromotion,type,locale,locale_name,description,transferred,dcoilwtico
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN
1,1,2013-01-01,1,BABY CARE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN

In [6]:
join3 = pd.merge(join2, stores, on='store_nbr', how='left')
join3.head(2)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,date,store_nbr,family,sales,onpromotion,type_x,locale,locale_name,description,transferred,dcoilwtico,city,state,type_y,cluster
0,0,2013-01-01,1,AUTOMOTIVE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13
1,1,2013-01-01,1,BABY CARE,0.0,0,Holiday,National,Ecuador,Primer dia del ano,False,NaN,Quito,Pichincha,D,13

In [7]:
df = pd.merge(join3, transactions, on=['date' , 'store_nbr'], how='left')

In [8]:
df.shape

(3054348, 17)

In [9]:
train.shape

(3000888, 6)

In [10]:
test = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/test.csv')
test['date'] = pd.to_datetime(test['date'])

In [11]:
joint1 = pd.merge(test, holidays, on='date', how='left')
joint2 = pd.merge(joint1, oil, on='date', how='left')
joint3 = pd.merge(joint2, stores, on='store_nbr', how='left')
df_test = pd.merge(joint3, transactions, on=['date' , 'store_nbr'], how='left')

In [12]:
test.shape

(28512, 5)

In [13]:
df_test.shape

(28512, 16)

In [14]:
df_test.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,id,date,store_nbr,family,onpromotion,type_x,locale,locale_name,description,transferred,dcoilwtico,city,state,type_y,cluster,transactions
0,3000888,2017-08-16,1,AUTOMOTIVE,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN
1,3000889,2017-08-16,1,BABY CARE,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN
2,3000890,2017-08-16,1,BEAUTY,2,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN
3,3000891,2017-08-16,1,BEVERAGES,20,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN
4,3000892,2017-08-16,1,BOOKS,0,NaN,NaN,NaN,NaN,NaN,46.8,Quito,Pichincha,D,13,NaN

In [15]:
df['test'] = 0
df_test['test'] = 1
df = pd.concat([df, df_test], sort = False)

In [16]:
df_test.isna().sum()

id                  0
date                0
store_nbr           0
family              0
onpromotion         0
type_x          26730
locale          26730
locale_name     26730
description     26730
transferred     26730
dcoilwtico       7128
city                0
state               0
type_y              0
cluster             0
transactions    28512
test                0
dtype: int64

In [17]:
df.shape

(3082860, 18)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3082860 entries, 0 to 28511
Data columns (total 18 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          datetime64[ns]
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   type_x        object
 7   locale        object
 8   locale_name   object
 9   description   object
 10  transferred   object
 11  dcoilwtico    float64
 12  city          object
 13  state         object
 14  type_y        object
 15  cluster       int64
 16  transactions  float64
 17  test          int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(9)
memory usage: 446.9+ MB

In [19]:
df = df.rename(columns={'type_x': 'holiday_type', 'type_y': 'store_type'})

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3082860 entries, 0 to 28511
Data columns (total 18 columns):
 #   Column        Dtype
---  ------        -----
 0   id            int64
 1   date          datetime64[ns]
 2   store_nbr     int64
 3   family        object
 4   sales         float64
 5   onpromotion   int64
 6   holiday_type  object
 7   locale        object
 8   locale_name   object
 9   description   object
 10  transferred   object
 11  dcoilwtico    float64
 12  city          object
 13  state         object
 14  store_type    object
 15  cluster       int64
 16  transactions  float64
 17  test          int64
dtypes: datetime64[ns](1), float64(3), int64(5), object(9)
memory usage: 446.9+ MB

In [21]:
df.isna().sum()

id                    0
date                  0
store_nbr             0
family                0
sales             28512
onpromotion           0
holiday_type    2578554
locale          2578554
locale_name     2578554
description     2578554
transferred     2578554
dcoilwtico       962280
city                  0
state                 0
store_type            0
cluster               0
transactions     277629
test                  0
dtype: int64

In [22]:
df.holiday_type.fillna('not holiday' , inplace = True)
df.locale.fillna('without' ,inplace = True )
df.locale_name.fillna('nothing', inplace = True)
df.description.fillna('not exist'  ,  inplace = True)
df.transferred.fillna('not transfered' ,  inplace = True)

/tmp/ipykernel_31/4182368604.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.holiday_type.fillna('not holiday' , inplace = True)
/tmp/ipykernel_31/4182368604.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.locale.fillna('without' ,inplace = True )
/tmp/ipykernel_31/4182368604.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.locale_name.fillna('nothing', inplace = True)
/tmp/ipykernel_31/4182368604.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.description.fillna('not exist'  ,  inplace = True)
/tmp/ipykernel_31/4182368604.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df.transferred.fillna('not transfered' ,  inplace = True)

In [23]:
df.isna().sum()

id                   0
date                 0
store_nbr            0
family               0
sales            28512
onpromotion          0
holiday_type         0
locale               0
locale_name          0
description          0
transferred          0
dcoilwtico      962280
city                 0
state                0
store_type           0
cluster              0
transactions    277629
test                 0
dtype: int64

In [24]:
df['day_of_week'] = df['date'].dt.day_of_week

df['day_of_month'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['quarter'] = df['date'].dt.quarter

In [25]:
df[df.dcoilwtico.isna()][['date','dcoilwtico' , 'day_of_week', 'holiday_type']]

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

            date  dcoilwtico  day_of_week holiday_type
0     2013-01-01         NaN            1      Holiday
1     2013-01-01         NaN            1      Holiday
2     2013-01-01         NaN            1      Holiday
3     2013-01-01         NaN            1      Holiday
4     2013-01-01         NaN            1      Holiday
...          ...         ...          ...          ...
21379 2017-08-27         NaN            6  not holiday
21380 2017-08-27         NaN            6  not holiday
21381 2017-08-27         NaN            6  not holiday
21382 2017-08-27         NaN            6  not holiday
21383 2017-08-27         NaN            6  not holiday

[962280 rows x 4 columns]

In [26]:
df["dcoilwtico"] = np.where(df["dcoilwtico"] == 0, np.nan, df["dcoilwtico"])
df["dcoilwtico_interpolated"] =df.dcoilwtico.interpolate()

In [27]:
df['dcoilwtico_interpolated'] = df['dcoilwtico_interpolated'].fillna(method='bfill')

/tmp/ipykernel_31/3054856010.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['dcoilwtico_interpolated'] = df['dcoilwtico_interpolated'].fillna(method='bfill')

In [28]:
df.isna().sum()

id                              0
date                            0
store_nbr                       0
family                          0
sales                       28512
onpromotion                     0
holiday_type                    0
locale                          0
locale_name                     0
description                     0
transferred                     0
dcoilwtico                 962280
city                            0
state                           0
store_type                      0
cluster                         0
transactions               277629
test                            0
day_of_week                     0
day_of_month                    0
month                           0
quarter                         0
dcoilwtico_interpolated         0
dtype: int64

In [29]:



df.loc[df['transferred'] == True, 'holiday_type'] = 'not holiday'
df.loc[df['transferred'] == True, 'locale'] = 'without'
df.loc[df['transferred'] == True, 'locale_name'] = 'nothing'
df.loc[df['transferred'] == True, 'description'] = 'not exist'

In [30]:
df['holiday_type'] = df['holiday_type'].replace('Transfer', 'Holiday')

In [31]:
df['holiday_type'].value_counts()

holiday_type
not holiday    2594592
Holiday         306504
Event            99792
Additional       67716
Work Day          8910
Bridge            5346
Name: count, dtype: int64

In [32]:
value_to_change = 'Navidad+1'
new_value = 'Navidad-1'


df.loc[df['description'] == value_to_change, 'description'] = new_value

In [33]:
columns_to_drop = ['id', 'date' ,'transactions' ,'transferred' , 'dcoilwtico']
df_droped = df.drop(columns=columns_to_drop)

In [34]:
grouped_data = df_droped.groupby(['store_nbr', 'family'])

In [35]:
alphas = [0.95, 0.8, 0.65, 0.5]
lags =[1,7,30]

for a in alphas:
    for i in lags:
        df_droped[f'sales_lag_{i}_alpha_{a}'] = np.log1p(grouped_data['sales'].transform(lambda x: x.shift(i).ewm(alpha=a, min_periods=1).mean()))

/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)
/usr/local/lib/python3.11/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log1p
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [36]:
df_droped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3082860 entries, 0 to 28511
Data columns (total 30 columns):
 #   Column                   Dtype
---  ------                   -----
 0   store_nbr                int64
 1   family                   object
 2   sales                    float64
 3   onpromotion              int64
 4   holiday_type             object
 5   locale                   object
 6   locale_name              object
 7   description              object
 8   city                     object
 9   state                    object
 10  store_type               object
 11  cluster                  int64
 12  test                     int64
 13  day_of_week              int32
 14  day_of_month             int32
 15  month                    int32
 16  quarter                  int32
 17  dcoilwtico_interpolated  float64
 18  sales_lag_1_alpha_0.95   float64
 19  sales_lag_7_alpha_0.95   float64
 20  sales_lag_30_alpha_0.95  float64
 21  sales_lag_1_alpha_0.8    float64
 22  sales_lag_7_alpha_0.8    float64
 23  sales_lag_30_alpha_0.8   float64
 24  sales_lag_1_alpha_0.65   float64
 25  sales_lag_7_alpha_0.65   float64
 26  sales_lag_30_alpha_0.65  float64
 27  sales_lag_1_alpha_0.5    float64
 28  sales_lag_7_alpha_0.5    float64
 29  sales_lag_30_alpha_0.5   float64
dtypes: float64(14), int32(4), int64(4), object(8)
memory usage: 682.1+ MB

In [37]:
category_colls = [ 'store_nbr' , 'family' , 'holiday_type' , 'locale' , 'locale_name' ,'city' , 'state' ,'store_type' , 'cluster' , 'day_of_week'  ,'day_of_month' ,  'month' , 'quarter'  ]

for col in category_colls:
    df_droped = pd.concat([df_droped, pd.get_dummies(df_droped[col], prefix = col)], axis = 1)

In [38]:
df_droped = df_droped.drop(columns = category_colls)
df_droped = df_droped.drop(columns = 'description')

In [39]:
df_droped.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3082860 entries, 0 to 28511
Columns: 252 entries, sales to quarter_4
dtypes: bool(236), float64(14), int64(2)
memory usage: 1.1 GB

In [40]:
df_train = df_droped[df_droped['test'] == 0]
df_test = df_droped[df_droped['test'] == 1]

In [41]:
df_train.shape, df_test.shape

((3054348, 252), (28512, 252))

In [42]:

from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.metrics import mean_squared_error, r2_score

X = df_train.drop(['sales','test'], axis=1)  
y = df_train['sales']              


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [43]:
df_test = df_test.drop(columns = ['test','sales'])

In [61]:

X_train_split, X_val, y_train_split, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=42)


xgb_model = xgb.XGBRegressor(
    objective='reg:squarederror',
    n_estimators=150,
    learning_rate=0.1,
    max_depth=7,
    # random_state=42,
    # tree_method='gpu_hist' 
)


xgb_model.fit(X_train_split, y_train_split, eval_set=[(X_val, y_val)], eval_metric='rmse', early_stopping_rounds=10, verbose=10)


y_pred = xgb_model.predict(X_test)


mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Validation Mean Squared Error: {mse:.4f}")
print(f"Validation R² Score: {r2:.4f}")

/usr/local/lib/python3.11/dist-packages/xgboost/sklearn.py:889: UserWarning: `eval_metric` in `fit` method is deprecated for better compatibility with scikit-learn, use `eval_metric` in constructor or`set_params` instead.
  warnings.warn(
/usr/local/lib/python3.11/dist-packages/xgboost/sklearn.py:889: UserWarning: `early_stopping_rounds` in `fit` method is deprecated for better compatibility with scikit-learn, use `early_stopping_rounds` in constructor or`set_params` instead.
  warnings.warn(

[0]	validation_0-rmse:1029.17225
[10]	validation_0-rmse:478.15327
[20]	validation_0-rmse:340.14912
[30]	validation_0-rmse:308.64505
[40]	validation_0-rmse:299.52787
[50]	validation_0-rmse:293.90829
[60]	validation_0-rmse:290.75756
[70]	validation_0-rmse:288.35673
[80]	validation_0-rmse:286.52923
[90]	validation_0-rmse:285.10217
[100]	validation_0-rmse:283.49323
[110]	validation_0-rmse:282.51601
[120]	validation_0-rmse:281.68255
[130]	validation_0-rmse:280.77325
[140]	validation_0-rmse:280.21779
[149]	validation_0-rmse:279.47121
Validation Mean Squared Error: 45999.9436
Validation R² Score: 0.9615

In [63]:
df_dummy = pd.read_csv('/kaggle/input/store-sales-time-series-forecasting/test.csv')
pred = xgb_model.predict(df_test)

final = pd.DataFrame()
final['id'] = df_dummy['id']
final['sales'] = pred

final.to_csv('submission2.csv', index = False)